lab/TempConvtService-Section1/src/conf/xml-resources/web-service-references/HelloWorldWS/wsdl/localhost_8080/HelloWorldWebApplication-Section1/HelloWorldWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tutews1.itcs212/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tutews1.itcs212/" name="HelloWorldWS">
<types>
<xsd:schema>
<xsd:import namespace="http://tutews1.itcs212/" schemaLocation="http://localhost:8080/HelloWorldWebApplication-Section1/HelloWorldWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="squareMethod">
<part name="parameters" element="tns:squareMethod"/>
</message>
<message name="squareMethodResponse">
<part name="parameters" element="tns:squareMethodResponse"/>
</message>
<message name="CelsiusToFahrenheit">
<part name="parameters" element="tns:CelsiusToFahrenheit"/>
</message>
<message name="CelsiusToFahrenheitResponse">
<part name="parameters" element="tns:CelsiusToFahrenheitResponse"/>
</message>
<message name="ConvertercmToInch">
<part name="parameters" element="tns:ConvertercmToInch"/>
</message>
<message name="ConvertercmToInchResponse">
<part name="parameters" element="tns:ConvertercmToInchResponse"/>
</message>
<message name="getMydetail">
<part name="parameters" element="tns:getMydetail"/>
</message>
<message name="getMydetailResponse">
<part name="parameters" element="tns:getMydetailResponse"/>
</message>
<portType name="HelloWorldWS">
<operation name="hello">
<input wsam:Action="http://tutews1.itcs212/HelloWorldWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tutews1.itcs212/HelloWorldWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="squareMethod">
<input wsam:Action="http://tutews1.itcs212/HelloWorldWS/squareMethodRequest" message="tns:squareMethod"/>
<output wsam:Action="http://tutews1.itcs212/HelloWorldWS/squareMethodResponse" message="tns:squareMethodResponse"/>
</operation>
<operation name="CelsiusToFahrenheit">
<input wsam:Action="http://tutews1.itcs212/HelloWorldWS/CelsiusToFahrenheitRequest" message="tns:CelsiusToFahrenheit"/>
<output wsam:Action="http://tutews1.itcs212/HelloWorldWS/CelsiusToFahrenheitResponse" message="tns:CelsiusToFahrenheitResponse"/>
</operation>
<operation name="ConvertercmToInch">
<input wsam:Action="http://tutews1.itcs212/HelloWorldWS/ConvertercmToInchRequest" message="tns:ConvertercmToInch"/>
<output wsam:Action="http://tutews1.itcs212/HelloWorldWS/ConvertercmToInchResponse" message="tns:ConvertercmToInchResponse"/>
</operation>
<operation name="getMydetail">
<input wsam:Action="http://tutews1.itcs212/HelloWorldWS/getMydetailRequest" message="tns:getMydetail"/>
<output wsam:Action="http://tutews1.itcs212/HelloWorldWS/getMydetailResponse" message="tns:getMydetailResponse"/>
</operation>
</portType>
<binding name="HelloWorldWSPortBinding" type="tns:HelloWorldWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="squareMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CelsiusToFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConvertercmToInch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMydetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldWS">
<port name="HelloWorldWSPort" binding="tns:HelloWorldWSPortBinding">
<soap:address location="http://localhost:8080/HelloWorldWebApplication-Section1/HelloWorldWS"/>
</port>
</service>
</definitions>